## Chargement, profilage et préparation du fichier Departments

In [1]:
# J'importe le module pandas afin de créer des dataframe
import pandas as pd

In [2]:
# J'assigne le chemin à une variable pour une question de lisibilité et de confidentialité
chemin_departements = "D:\Cours Lepont\Bloc 2\Cours 150524 Capstone 2\Dataset\Departments.csv"

In [3]:
# Je charge le fichier Departments
df_departments = pd.read_csv(chemin_departements)

In [4]:
# J'affiche le fichier Departements sous forme de DataFrame
df_departments

  dept_id         dept_name
0    d001         Corporate
1    d002  Customer Service
2    d003         Marketing
3    d004             Sales
4    d005        Technology

In [5]:
# J'affiche toutes les colonnes du Dataframe
df_departments.columns

Index(['dept_id', 'dept_name'], dtype='object')

In [6]:
# Je consulte le type des données dans les colonnes
df_departments.dtypes

dept_id      object
dept_name    object
dtype: object

In [7]:
# Je consulte le nombre de colonnes et de lignes du DataFrame: soient 4988 lignes et 11 colonnes
df_departments.shape

(5, 2)

In [8]:
# Compte tenu de la petite taille du Dataframe, je ne procède pas à d'autres verifications de la qualité des données

In [9]:
# Je change l'intitulé de la colonne dept_name par Office_Type afin d'avoir des données concordantes et j'harmonise l'intitulé de la colonne
df_departments = df_departments.rename(columns={'dept_name': 'Office_Type'})

In [10]:
# Je change l'intitulé de la colonne dept_name par Office_Type afin d'avoir des données concordantes et j'harmonise l'intitulé de la colonne
df_departments = df_departments.rename(columns={'dept_id': 'department_id'})

In [11]:
df_departments

  department_id       Office_Type
0          d001         Corporate
1          d002  Customer Service
2          d003         Marketing
3          d004             Sales
4          d005        Technology

In [14]:
# J'exporte sous le format csv
df_departments.to_csv('Department_cleaned.csv',index=False)