## Chargement, profilage et préparation du fichier employees_personal

In [1]:
# J'importe le module pandas afin de créer des dataframe
import pandas as pd

In [2]:
# J'assigne le chemin à une variable pour une question de lisibilité et de confidentialité
chemin_employees_personal = "D:\Cours Lepont\Bloc 2\Cours 150524 Capstone 2\Dataset\employees_personal.csv"

In [3]:
# Je charge le fichier employee_personal 
df_employees_personal = pd.read_csv(chemin_employees_personal)

In [4]:
# J'affiche le fichier employee_personal sous forme de DataFrame
df_employees_personal

      EmployeeID Gender  Disability      Education
0         100001      f           0  Undergraduate
1         100002     M            1  Undergraduate
2         100003      F           0  Undergraduate
3         100004      M           0  Undergraduate
4         100005     M            0  Undergraduate
...          ...    ...         ...            ...
4963      104964      M           0  Undergraduate
4964      104965      F           0  Undergraduate
4965      104966      m           0  Undergraduate
4966      104967     m.           0  Undergraduate
4967      104968      f           0   Some College

[4968 rows x 4 columns]

In [ ]:
# On remarque une incohérence dans le nommage des genres

In [5]:
# J'affiche toutes les colonnes du Dataframe
df_employees_personal.columns

Index(['EmployeeID', 'Gender', 'Disability', 'Education'], dtype='object')

In [6]:
# Je consulte le type des données dans les colonnes
df_employees_personal.dtypes

EmployeeID     int64
Gender        object
Disability     int64
Education     object
dtype: object

In [7]:
# Je consulte le nombre de colonnes et de lignes du DataFrame: soient 4988 lignes et 11 colonnes
df_employees_personal.shape

(4968, 4)

In [8]:
# Je consulte le nombre de valeurs manquantes dans le DataFrame
(df_employees_personal.isnull().sum() / df_employees_personal.shape[0]).sort_values(ascending=False)

EmployeeID    0.0
Gender        0.0
Disability    0.0
Education     0.0
dtype: float64

In [9]:
# Je consulte les doublons du DataFrame
df_employees_personal.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
4963    False
4964    False
4965    False
4966    False
4967    False
Length: 4968, dtype: bool

In [10]:
# Je comptabilise le nombre de doublons
df_employees_personal.duplicated().sum()

0

In [11]:
# J'harmonise les genres
df_employees_personal['Gender'] = df_employees_personal['Gender'].str.strip().replace({'f' : 'F','m' : 'M', 'FE' : "F", 'M.' : 'M', 'f.' : 'F','m.' : 'M'})

In [12]:
df_employees_personal

      EmployeeID Gender  Disability      Education
0         100001      F           0  Undergraduate
1         100002      M           1  Undergraduate
2         100003      F           0  Undergraduate
3         100004      M           0  Undergraduate
4         100005      M           0  Undergraduate
...          ...    ...         ...            ...
4963      104964      M           0  Undergraduate
4964      104965      F           0  Undergraduate
4965      104966      M           0  Undergraduate
4966      104967      M           0  Undergraduate
4967      104968      F           0   Some College

[4968 rows x 4 columns]

In [13]:
# Je vérifie les genres
df_employees_personal['Gender'].unique()

array(['F', 'M'], dtype=object)

In [14]:
# Je comptabilise les genres 
df_employees_personal['Gender'].value_counts()

Gender
M    2570
F    2398
Name: count, dtype: int64

In [15]:
# J'exporte sous le format csv
df_employees_personal.to_csv('employees_personal_cleaned.csv',index=False)