## Chargement, profilage et préparation du fichier Levels

In [1]:
# J'importe le module pandas afin de créer des dataframe
import pandas as pd

In [2]:
# J'assigne le chemin à une variable pour une question de lisibilité et de confidentialité
chemin_levels = "D:\Cours Lepont\Bloc 2\Cours 150524 Capstone 2\Dataset\Levels.csv"

In [3]:
# Je charge le fichier Levels 
df_levels = pd.read_csv(chemin_levels)

In [4]:
# J'affiche le fichier Levels sous forme de DataFrame
df_levels

  level_id                   Level
0   hwquvd                  CSuite
1   zo9dqz                 Manager
2   kseto3  Individual Contributor
3   ffk1hb                      VP
4   trvbnh                     SVP
5   9olsat                  Senior
6   2q35md                Director
7   6o0mt2               Associate

In [4]:
# On ne remarque rien de particulier, je continue la vérification

In [5]:
# J'affiche toutes les colonnes du Dataframe
df_levels.columns

Index(['level_id', 'Level'], dtype='object')

In [6]:
# Je consulte le type des données dans les colonnes
df_levels.dtypes

level_id    object
Level       object
dtype: object

In [7]:
# Je consulte le nombre de colonnes et de lignes du DataFrame: soient 4988 lignes et 11 colonnes
df_levels.shape

(8, 2)

In [8]:
# Je consulte le nombre de valeurs manquantes dans le DataFrame par ordre décroissant
(df_levels.isnull().sum() / df_levels.shape[0]).sort_values(ascending=False)

level_id    0.0
Level       0.0
dtype: float64

In [9]:
# On ne trouve aucune valeur manquante

In [10]:
# Je consulte les doublons du DataFrame
df_levels.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
dtype: bool

In [12]:
# J'exporte sous le format csv
df_levels.to_csv('Levels_cleaned.csv',index=False)